html,
body {
  height: 100%;
  width: 100%;
}

/* Custom Scrollbar */
// Custom scrollbar style for Mozilla
* {
  scrollbar-color: $custom-scrollbar-thumb-color $custom-scrollbar-track-color;
  scrollbar-width: thin;
}

// Custom scrollbar style for Chrome and Edge
/* width */
::-webkit-scrollbar {
  width: $custom-scrollbar-width;
  height: $custom-scrollbar-width;
}

/* Track */
::-webkit-scrollbar-track {
  background: $custom-scrollbar-track-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $custom-scrollbar-thumb-color;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $custom-scrollbar-thumb-hover-color;
}

// Icon
.icon {
  transition: all 0.2s ease-in-out;
  &.rotate180 {
    transform: rotate(180deg);
  }
}

// Image
img {
  max-width: 100%;
}