$icomoon-font-family: "font-icons" !default;
$icomoon-font-path: "~@/assets/font-icons/fonts" !default;

$icon-email: "\e901";
$icon-add: "\e902";
$icon-copy: "\e903";
$icon-save: "\e904";
$icon-arrow_drop_down: "\e90a";
$icon-arrow_drop_up: "\e90b";
$icon-expand_more: "\e90c";
$icon-menu: "\e90d";
$icon-more_vert: "\e90e";
$icon-dashboard: "\e90f";
$icon-delete: "\e910";
$icon-ticket: "\e900";
$icon-edit: "\e905";
$icon-fiber_smart_record: "\e906";
$icon-hourglass_empty: "\e907";
$icon-https: "\e908";
$icon-task: "\e914";
$icon-file: "\e909";
$icon-calendar: "\e911";
$icon-chat: "\e912";
$icon-gear: "\e913";
$icon-shopping_cart: "\e916";
$icon-shopping_bag: "\e917";
$icon-star: "\e915";
$icon-star_outline: "\e918";